*~
*.orig
*.py[co]
*.rej
*.egg-info
.*.swp
.installed.cfg
.PROD
__minitage__*
bin/*
build/*
develop-eggs
dist
downloads
eggs
include
log
lib
parts
project/media/uploads
tmp
examples/example_webid_provider/settings_local.py
